<%- include("partials/header") %>

<section>
    <table>
        <tr class="table_head">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade</th>
            <th>Favorite Subject</th>
        </tr>
            <tr>
                <td><input value="<%=student.firstname%>" name="firstname" /></td>
                <td><input placeholder="Last" name="lastname" /></td>
                <td><input placeholder="Grade" name="grade" /></td>
                <td><input placeholder="Favorite" name="favsub" /></td>
                <td><button>Submit</button></td>
            </tr>
     </table>
</section>

<%- include("partials/footer") %>